doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    p The web application i only available during working hours (Monday to friday, from 9  to 17)
